 .main-container,
.profile-info-container {
  padding: 0.5em;
  width: 60%;
  margin-left: 20%;
} 

.header-container {
  height: 200px;
  background-color: #5f6cab;
  color: white;
}

.header-left-container > * {
  float: left;
  display: inline;
  margin-left: 50px;
  margin-top: 30px;
}

.header-right-container > * {
  float: right;
  display: inline;
  width: 25%;
  margin-top: 40px;
}

.main-section-container > * {
  height: 900px;
  display: inline-block;
  width: 50%;
}

.left-container {
  float: left;
  background-color: #fbfafa;
  width: 32%;
}

.right-container {
  background-color: rgb(255, 255, 255);
  margin-left:5%;;
}

.profile-info {
  margin-top: 30px;
  margin-left: 40px;
  width: 70%;
}


.profile-info-title > * {
  display: inline-block;
  padding-bottom:2px;
  margin:5px;
}

.interests-title > * {
  display: inline-block;
  padding-bottom:2px;
  margin:5px;
  margin-bottom: 20px;


}

.interests-icons > * {
  display: inline-block;

}

.interests-icons i {
  font-size: 18px;
  color:#5f6cab;
  padding-top: 10px;
  vertical-align: middle;
 
}
.category{
  margin:5px;
}

.interest-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #5f6cab;
  text-align: center;

}


.reference-title > * {
  display: inline-block;
  padding-bottom:2px;
  margin:5px;


}

.awards-title > * {
  display: inline-block;
  padding-bottom:2px;
  margin:5px;


}


.circle-briefcase {
  height: 30px;
  border-radius: 50%;
  background-color: #5f6cab;
  text-align: center;
}

.circle-briefcase i {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 12px;
  padding-left: 10px;
  padding-top:5px;

  color: white;
}



/* timeline */

.timeline {
  position: relative;
  padding-left: 50px;
  max-width: 400px;
}

.timeline::before {
  content: "";
  width: 2px;
  background-color: rgb(175, 175, 175);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
}

div.event {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 5px;
}

div.event::after {
  content: "";
  background: rgb(173, 173, 173);
  border: 4px solid rgb(180, 180, 180);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: -45px;
}

.text {
  font-size: 13px;
}

.company {
  font-size: 15px;
  color: rgb(109, 97, 175);
  text-decoration: none;
}

.company:hover {
  font-weight: bold;
}

.company:active {
  color: purple;
}

.portfolio-title > * {
  display: inline-block;
}

.portfolio-title h4 {
  margin-left: 10px;
}

.portfolio-boxes {
  margin: 0 auto;
  margin-left: 60px;
}

.row-box > * {
  display: inline-block;
  text-align: center;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 0px 2px 19px rgba(37, 36, 36, 0.04);
  box-shadow: 0px 0px 10px 17px rgba(0, 0, 0, 0.04);
}

.single-box {
  background-color: rgb(255, 255, 255);
}

.image-box {
  width: 100%;
  height: 70%;
}

.footer-container {
  background-color: #5f6cab;
  clear: both;
  position: relative;
  height: 60px;
}

.footer-text {
  margin-left: 50px;
  padding-top: 5px;
  color:white;
}
